<header>
  <div class="navbar navbar-dark bg-warning shadow-sm">
    <div class="navbar-brand align-items-center d-flex">
      <i style="font-size:22px; color:black; margin-left: 412px; margin-top: 8px;" class="fas fa-shipping-fast"></i>
      <strong style="font-size: 20; color:black;margin-left:50px">Ecommerce Website</strong>
    </div>
    <button class="btn btn-warning">
      <i style="font-size:30px;" routerLink="/cart" class="fas fa-cart-plus"></i>
      <div style="font-size:10px; " class="badge bg-success">{{totalItem}}</div>
    </button>
  </div>
</header>
